*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: auto;
    /* height: 100vh; */
    background: url('images/background.png');
    /* background-image: linear-gradient(rgba(244, 247, 248, 0.918), rgba(228, 235, 238, 0.637)); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.center-div{
    display: flex;
    top: 40%;
    left: 50%;
}
.text{
    padding: 5%;
    height: 100%;
}
.navbar-toggler{
    background-color: black;
}
.header-icons{
    font-size: 20px;
    margin: 10px;
    
}
.fa{
    color: black;
}
.center-div img{
    margin-bottom: 10px;
}

.nav-item a{
    color: black!important;
    font-weight: bold;
}



.header-section{
    width: 100%;
    height: inherit;
    color: black;
    text-align: center;
    position: relative;
}
#blogs p{
    font-size: 25px;
    padding: 20px;
    background-color: rgb(172, 231, 212);
    text-align: center;
}
h4{
    animation: textanimation 1s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
@keyframes textanimation{
    0%{
        letter-spacing: 20px;
    }

    100%{
        letter-spacing: 1px;
    }
}

a{
    text-decoration: none;
}

a:hover{
   transform: translateY(-5px);
}

li{
    list-style: none;
}

p{
    font-size: 15px;
    font-weight: 300;
}

.header-buttons button{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(139, 138, 139);
}

.header-projectdiv{
    width: 100%;
    height: auto;
    margin: 50px 0;
}
.header-blogdiv{
    width: 100%;
    height: auto;
    margin: 50px 0;
}
.row{
    margin-top: 50px;
}

h2{
    margin: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: rgb(75, 73, 73);
}
.card img{
    padding: 20px;
    transition: transform .2s;
}

.card img:hover{
    transform: scale(1.1);
}

.card {
    transition: 0.3s;
}

.card:hover{
    background: gray;
    color: white;
    box-shadow: 0 8px 20px rgb(161, 158, 158);
    transform: translateY(-20px);
}
.card button{
    justify-content: center;
    width: 130px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white
}
.card button:hover{
    background: transparent;
    background: white;
    border: 5px white solid;
    color: gray;
}

.header-contactdiv{
    width: 100%;
    height: 400px;
    background: gray;
    background: url('images/footer-background.jpg');
}
.container-contact h2{
    color: #fff;
}

input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
}
footer{
    text-align: center;
}
.myList ul li {
    list-style-type: disc;
}